 /*navigation bar*/
nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    max-width: 300px;
  }
  
  nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #b90089;
  }

 /*header styling*/
header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5%;
    background-color: #143265;
    color: #fff;
}
h1 {
    font-size: 200%;
  }

 /*profile photo rounding*/
  img {
    border: 5px solid #fff;
    border-radius: 50%;
  } 

  

  main {
    display: flex;
    flex-wrap: wrap;
}

/*the boxes*/
div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

/*the body section*/
  section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
}
 /*contact me footer*/
  footer {
    display: below;
    font-size: 150%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0%;
    background-color: #a1066f;
    color: #fff;
}