element.style {
}
@media screen and (max-width: 768px)
header {
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #143265;
    color: #fff;
}
h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b90089;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }